<!DOCTYPE html>
<html lang="es">
<div th:replace="~{fragments/header :: head}"></div>
<body class="home">
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div th:replace="~{fragments/flash-messages :: flash-messages}"></div>
	<div class="container text-center mt-5">
		<a href="/game/category" class="btn btn-warning btn-lg"> ¡Comenzar
			partida! </a>
	</div>
	<div class="position-fixed bottom-0 start-0 m-3">
		<a href="/api/question/doc" class="btn btn-warning"> Documentación API </a>
	</div>
	<div th:replace="~{fragments/scripts :: scripts}"></div>
	<script src="/js/snow.js"></script>
</body>
</html>